<div class="row">
  <div class="col-8 offset-2">
    <form [formGroup]="createQuestionForm" (ngSubmit)="submitQuestionAddingForm()">
      <div class="form-floating mb-4">
        <select formControlName="testSubject" id="testSubject" class="form-select" aria-label="Default select example">
          <option [ngValue]="testSubject" *ngFor="let testSubject of testSubjects">{{testSubject.subject}}</option>
        </select>
        <label for="testSubject">Choose subject:</label>

        <span *ngIf="testSubject?.invalid&&(testSubject?.touched||testSubject?.dirty)">
          <span *ngIf="testSubject?.errors?.required" class="text-danger">Property test subject is required!</span>
        </span>
<!--        {{testSubject?.valid}}-->
      </div>

      <div class="mb-4">
        <label for="associatedPicture" class="form-label">Upload photo (if necessary)</label>
        <input class="form-control" (change)="handleImageInput($event)" type="file" id="associatedPicture">
<!--        <button type="button" class="btn btn-success" (click)="submitPhoto()">SAVE</button>-->
      </div>

      <div class="form-floating mb-4">
        <input type="text" id="value" class="form-control" placeholder="Question" formControlName="value" required>
        <label for="value">Question:</label>
        <span *ngIf="value?.invalid&&(value?.touched||value?.dirty)">
          <span *ngIf="value?.errors?.required" class="text-danger">Text of question is required!</span>
        </span>
      </div>

      <div formArrayName="answers">
        <div *ngIf="answers?.invalid">
          <div *ngIf="answers?.errors?.correctAnswerNotChosenError" class="text-primary">Check any checkbox to detect correct answer!</div>
          <div *ngIf="answers?.errors?.minlength" class="text-danger">There should be no less that 2 answers</div>
          <div *ngIf="answers?.errors?.maxlength" class="text-danger">There should be no more than 8 answers</div>
        </div>
        <div >
          <div  *ngFor="let answer of answers.controls; let i=index" [formGroupName]="i">
            <div class="input-group mb-4">
              <div class="input-group-text">
                <input formControlName="correct" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
              </div>
              <div class="form-floating">
                <input id="answer{{i+1}}" type="text" class="form-control" formControlName="value" aria-label="Text input with checkbox" placeholder="answer">
                <label for="answer{{i+1}}">Answer {{i+1}}</label>
              </div>
              <button type="button" (click)="deleteAnswer(i)" class="btn btn-danger">-</button>
              <span *ngIf="answer.get('value')?.invalid&&(answer.get('value')?.touched||answer.get('value')?.dirty)">
                <span *ngIf="answer.get('value')?.errors?.required" class="text-danger">Answer is required!</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="addNewAnswerForm()" class="btn btn-success">+</button>
      <button type="submit" [disabled]="createQuestionForm.invalid" class="btn btn-primary">SAVE</button>
    </form>
  </div>
</div>
